# Next-Auth environment variables
AUTH_SECRET=
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
AUTH_URL=

# App database environment variables
POSTGRES_URL=

# Upstash Redis environment variables
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=